body{
    margin: 5% 10%;
}
.containerall{
    border: solid 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--globalbgcolor);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container{
    margin: 0 15px;
}
.account{
    font-size: 30px;
}
.headerlinks:hover{
    color:var(--hoverlinks)
}
.headerlinks{
    display: flex;
    align-items: center;
}
.sell{
    margin-left: auto;
    font-size: 30px;
}
.divimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(space1.jpg);
    height: 100px;
}
.logo{
    height: 50px;
    width: 150px;
}
.search{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--globalbgcolor);
}
li{
    list-style-type: none;
}
.listlink{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.menulinks{
    padding: 20.5px;
}
.menulinks:hover{
    background-color: var(--hoverlinks) ;
    border-radius: 20px;
}
.hovertest:hover{
    border-top-right-radius:12px;
    border-top-left-radius:12px;
}
.secondmenu{
    display: none;
    position: absolute;
    padding-bottom: 4px;
    font-size: 20px;
    background-color: var(--globalbgcolor);
    /* Achar uma cor mais relevante 07/10/2021*/
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
.secondmenu:last-child{
    padding-bottom: 0;
}
/* Criar um hover para os links, dando um destaque a eles */
.listlink:hover .secondmenu{
    display: flex;
    flex-direction: column;
}
.internalmenu{
    width: 120px;
    display: flex;
    justify-content: center;
}
.menulinksinternal{
    padding: 10px;
}
.internalmenu:hover{
    background-color: var(--hoverlinks);
}
.internalmenu:last-child:hover{
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
a{
    text-decoration: none;
    color:var(--globallinks);
}
a:visited{
    color: var(--globallinks);
}















.categorias{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; 
}

.esportes{
    background-image: url(./Site\ do\ Lukas/fitness2.png);
    background-position: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
    grid-row: 1/3;
}

.frete{
    background-image: url(./Site\ do\ Lukas/frete-gratis.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
}

.vendas{
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
    background-image: url(./Site\ do\ Lukas/masivendidos.png);
    background-position: 90px;
    background-size: contain;
    background-repeat: no-repeat;
}

.links{
    font-size: 3rem;
    margin: 3vh 3vw;
}

.containerprod{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgprod2{
    border: solid;
    border-radius: 30px;
}

.divp{
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}



/* FOOTER */
.footer{
    background-color: var(--footerbg);
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
p{
    color:white;
    font-weight: bolder;
}
.imgfooter{
    height: 50px;
    width: 150px;
}
.imgboot{
    display: flex;
    align-items: center;
}

/* CERTIFICATES */
.footercertificates{
    width: 220px;
}

.imgselos{
    /* Encontrar um nome melhor */
    display: flex;
    width: 250px;
    height: 70px;
    margin-top: 20px;
}

/* PAYMENTS */
.footerpayments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 220px;
}

.cards{
    width: 70px;
    height: 50px;
}

h3, h2{
    color: white;
    text-align: center;
}

.divcontatos{
    color: white;
    margin-right: 30px;
    width: 200px;
}

.funcionamento{
    margin-top: 15px;
}

.informations{
    margin-top: 8px;
}

/* CNPJ */
.cnpj{
    display: flex;
    background-color: var(--hoverlinks);
    justify-content: center;
    color: #000000;
    border-bottom: 1px solid var(--footerbg);
    border-left: 1px solid var(--footerbg);
    border-right: 1px solid var(--footerbg);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}