body{
    margin: 5% 10%;
}
header{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: var(--globalbgcolor);
}
.account{
    font-size: 30px;
}
.headerlinks{
    display: flex;
    align-items: center;
}
.sell{
    margin-left: auto;
    font-size: 30px;
}
.divimg{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(space1.jpg);
    height: 100px;
}
.logo{
    height: 50px;
    width: 150px;
}
.menu{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--globalbgcolor);
}
li{
    list-style-type: none;
}
.listlink{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.secondmenu{
    display: none;
    position: absolute;
    padding: 5px;
    font-size: 20px;
    background-color: rgba(255, 4, 4, 0.8);
    /* Achar uma cor mais relevante 07/10/2021*/
    border-radius: 12px;
}
Criar um hover para os links, dando um destaque a eles
.listlink:hover .secondmenu{
    display: flex;
    flex-direction: column;
}
.internalmenu{
    width: 80px;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color:var(--globallinks);
}
a:visited{
    color: var(--globallinks);
}






























.categorias{
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px; 
}

.esportes{
    background-image: url(./Site\ do\ Lukas/fitness2.png);
    background-position: 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
    grid-row: 1/3;
}

.frete{
    background-image: url(./Site\ do\ Lukas/frete-gratis.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
}

.vendas{
    display: flex;
    justify-content: end;
    align-items: right;
    border: solid;
    border-radius: 30px;
    background-image: url(./Site\ do\ Lukas/masivendidos.png);
    background-position: 90px;
    background-size: contain;
    background-repeat: no-repeat;
}

.links{
    font-size: 3rem;
    margin: 3vh 3vw;
}