body{
    margin: 5% 10%;
}
header{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--globalbgcolor);
}
.container{
    margin: 0 15px;
}
.account{
    font-size: 30px;
}
.headerlinks{
    display: flex;
    align-items: center;
}
.sell{
    margin-left: auto;
    font-size: 30px;
}
.divimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(space1.jpg);
    height: 100px;
}
.logo{
    height: 50px;
    width: 150px;
}
.search{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: var(--globalbgcolor);
}
li{
    list-style-type: none;
}
.listlink{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.menulinks{
    padding: 20.5px;
}
.menulinks:hover{
    background-color: var(--hoverlinks) ;
    border-radius: 25px;
}
.hovertest:hover{
    border-top-right-radius:12px;
    border-top-left-radius:12px;
}
.secondmenu{
    display: none;
    position: absolute;
    padding-bottom: 4px;
    font-size: 20px;
    background-color: var(--globalbgcolor);
    /* Achar uma cor mais relevante 07/10/2021*/
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
.secondmenu:last-child{
    padding-bottom: 0;
}
/* Criar um hover para os links, dando um destaque a eles */
.listlink:hover .secondmenu{
    display: flex;
    flex-direction: column;
}
.internalmenu{
    width: 120px;
    display: flex;
    justify-content: center;
}
.menulinksinternal{
    padding: 10px;
}
.internalmenu:hover{
    background-color: var(--hoverlinks);
}
.internalmenu:last-child:hover{
    border-bottom-right-radius:12px;
    border-bottom-left-radius:12px;
}
a{
    text-decoration: none;
    color:var(--globallinks);
}
a:visited{
    color: var(--globallinks);
}

.containerprod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.produtos{
    display: flex;
    flex-direction: column;
    border: solid black;
    width: 400px;
    padding: 30px;
    align-items: center;
    margin-bottom: 5vh;
}

.imgvendas{
    width: 200px;
    margin-left: 15%;
}

.textprod{
    font-size: 25px;
    text-align: center;
}

.promocao{
    text-align: end;
    text-decoration: line-through;
    color: red;
    font-size: 25px;
}

.preco{
    text-align: end;
    font-size: 30px;
}

.comprar{
    width: 100%;
    height: 50px;
    font-size: 25px;
    background-color: #398ffc;
    margin-bottom: 10px;
}

.comprar:hover{
    background-color: #398dfcb6;
}

.footer{
    background-color: #070841;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.imgfooter{
    height: 50px;
    width: 150px;
}

.footerdiv{
    display: flex;
    flex-direction: column;
}

.imgselos{
    margin: 10px;
    width: 250px;
    height: 70px;
}

h2{
    color: white;
}

.divcontatos{
    color: white;
    margin-right: 30px;
    width: 200px;
}